:root {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ddd;
}

.container {
    width: 600px;
    display: grid;
    grid-template-columns: repeat(2, 300px);
    justify-content: center;
    background-color: #fff;
    box-shadow: 5px 5px 5px #1111117a;
    border-radius: 5px;
}

#image {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin: 10px 0px 10px 50px;
    border: 2px solid black;
}

#name {
    text-align: left;
}

.contact {
    display: flex;
    flex-direction: column;
    margin: 5px 0px 0px 40px;
}